.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.balance {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dateContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.total {
  align-items: center;
  display: flex;
  font-size: 2rem;
  gap: 10px;
}

.select {
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--light-green);
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 1.6rem;
  cursor: pointer;
  width: 100px;
  text-align: center;
  outline: none;
}

.option {
  background-color: var(--green);
}