.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.manage {
  background-color: var(--green);
  padding: 10px 20px;
  border: none;
  border-radius: 16px;
  color: var(--blue);
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}