.container {
  background-color: var(--dark-green);
  width: 100%;
  position: fixed;
  bottom: 0;
}

.p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--black);
  text-align: center;
  padding: 1rem 0;
  font-size: 1.6rem;
}

.a {
  color: var(--black);
  text-decoration: none;
  font-weight: bold;
}

.a:hover {
  color: var(--blue);
  transition: all 0.2s ease-in-out;
}