@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {

  --dark-gray: #666;

  --light-green: #abdb25;

  --green: #002500;

  --dark-red: #6d0000;

  --red: #ee4545;

  --light-red: #ff7474;

  --gray: #999;

  --white: #fbf9ff;

  --light-gray: #ccc;

  --blue: #79c7c5;

  --font-default: 'Quicksand', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--font-default);
}

a {
  text-decoration: none;
  color: var(--green);
}

.active {
  background-color: var(--green);
  color: var(--light-green);
}

.active:hover {
  background-color: var(--light-green);
  color: var(--green);
  transition: all 0.2s ease-in-out;
}

.cancelBtn {
  background-color: var(--red);
  color: var(--green);
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 15px 10px;
  border-radius: 6px;
}

.confirmBtn {
  background-color: var(--light-green);
  padding: 15px 10px;
  border: none;
  border-radius: 6px;
  color: var(--green);
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}

.cancelBtn:hover {
  background-color: var(--dark-red);
  color: var(--red);
  transition: all 0.2s ease-in-out;
}

.confirmBtn:hover {
  background-color: var(--blue);
  transition: all 0.2s ease-in-out;
}

.swal2-popup {
  font-size: 1.6rem !important;
  border-radius: 16px !important;
  color: var(--white) !important;
}

.swal2-radio {
  background-color: transparent !important;
}

.background-swal {
  background-color: var(--green) !important;
}

.colored-toast.swal2-icon-success {
  background-color: var(--light-green) !important;
}

.colored-toast.swal2-icon-error {
  background-color: var(--red) !important;
}

.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
}

.swal2-popup .swal2-styled {
	color: var(--green) !important;
  font-weight: 600 !important;
}

input[type="radio"] {
  appearance: none;
  background: var(--green);
  border: 1px solid var(--light-green);
  font: inherit;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 1.6rem;
  width: 1.6rem;
  outline: none;
  transform: translateY(-0.075em);
  transition: all 0.2s ease-in-out;

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--blue);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.swal2-radio label {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: 6px;
    scrollbar-color: var(--blue) transparent;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 10px;
  }