@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {

  --dark-gray: #666;

  --light-green: #abdb25;

  --green: #002500;

  --dark-red: #6d0000;

  --red: #da2a2a;

  --gray: #999;

  --white: #fbf9ff;

  --light-gray: #ccc;

  --blue: #79c7c5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
  color: var(--green);
}

.active {
  background-color: var(--green);
  color: var(--light-green);
}

.active:hover {
  background-color: var(--light-green);
  color: var(--green);
  transition: all 0.2s ease-in-out;
}
